body {
    background-color: rgb(24, 24, 24);
    color: white;
    margin: 0;
}

/* Header */
header {
    margin: 0;
}
#logo {
    height: 10rem;
    position: absolute;
}

/* Main */
main {
    text-align: center;
}
#total-carrots {
    font-size: 3rem;
    padding: 2rem;
}
#main-carrot {
    padding: 2rem;
    height: 20rem;
}
#main-carrot:active {
    top: .1rem;
    transform: translateY(.1rem);
}


.buy-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
/* Store */
.store ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.store ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.store ul li h3, .store ul li p, .store ul li button {
    margin: 1rem;
}
.store ul li .cost {
    color: crimson;
}
.store ul li .cost span {
    text-decoration: underline;
    color: white;
}
.store ul li button {
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    color: green;
    font-weight: bold;
}


/* Store items */
.store .store-item {
    border: 3px solid burlywood;
    box-shadow: 3px 3px black;
    padding: 1rem;
    text-align: center;
}
/* Paw store item */
.store .store-item img {
    height: 3rem;
}

/* Upgrades */
.upgrades-store {
    text-align: center;
    margin: 0 auto;
}
.upgrades-store .upgrades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.upgrades-store .upgrade {
    width: 4rem;
}
.upgrades-store button {
    height: 4rem;
    width: 4rem;
    border: 2px solid burlywood;
    background-color: black;
    color: white;
}
.upgrades-store button:hover {
    background-color: grey;
}
.upgrades-store .upgrade {
    margin: 1rem;
}