html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24, 24, 24);
    color: white;
    overflow: hidden;
}

/* Header */
header {
    margin: 1rem;
    padding: 0;
    text-align: right;
}
#save-button {
    background-color: green;
    color: white;
    border: 1px solid gold;
    padding: 1rem;
    display: inline-block;
}
#save-button:hover {
    background-color: rgb(48, 161, 48);
}
#reset-button {
    background-color: red;
    color: white;
    border: 1px solid gold;
    padding: 1rem;
    display: inline-block;
}
#reset-button:hover {
    background-color: rgb(250, 73, 73);
}
/* #logo {
    height: 8rem;
    display: inline-block;
} */

/* Main */
main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: center;
}
#total-carrots {
    font-size: 3rem;
    padding: 2rem;
}
#main-carrot {
    padding: 5rem;
    height: 20rem;
}
#main-carrot:active {
    top: .1rem;
    transform: translateY(.1rem);
}

.buy-container {
    max-height: 70%;
    max-width: 100%;
    border: 3px solid burlywood;
}
/* Store */
.store {
    max-height: 70%;
    overflow: scroll;
    overflow-x: hidden;
}
.store .buy-multipliers button {
    background-color: burlywood;
    border-radius: 1rem;
    width: 5rem;
    padding: .5rem;
    margin: .75rem;
    font-weight: bold;
}
.store .buy-multipliers button:hover {
    background-color: rgb(246, 153, 31);
}
.store .store-item .item-info {
    position: absolute;
    transform: translateX(3rem);
    display: none;
    border: 1px solid yellow;
    background-color: black;
    padding: 1rem;
}
.store .store-item div:hover div{
    display: block;
}
.store ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.store ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.store ul li h3, .store ul li p, .store ul li button {
    margin: 1rem;
}
.store ul li .cost {
    color: crimson;
}
.store ul li .cost span {
    text-decoration: underline;
    color: white;
}
.store ul li button {
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    font-weight: bold;
}
.store ul li .buy-button {
    color: green;
}
.store ul li .sell-button {
    color: red;
}


/* Store items */
.store .store-item {
    border: 3px solid burlywood;
    box-shadow: 3px 3px black;
    padding: 1rem;
    text-align: center;
}
.store .store-item img {
    height: 3rem;
}

/* Upgrades */
.upgrades-store {
    text-align: center;
    margin: 0 auto;
    border-top: 3px solid burlywood;
    overflow-y: scroll;
    height: 15rem
}
.upgrades-store .upgrades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.upgrades-store .upgrade {
    width: 4rem;
    margin: 1rem;
}
.upgrades-store button {
    height: 4rem;
    width: 4rem;
    border: 2px solid burlywood;
    background-color: black;
    color: white;
}
.upgrades-store button:hover {
    background-color: grey;
}

.display-buttons {
    display: none;
}

/* ACHIEVEMENTS */
.achievements {
    max-width: 100%;
    max-height: 70%;
    margin: 0 1rem;
    border: 3px solid burlywood;
    overflow-y: scroll;
}
.achievements .achievements-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
}
.achievements .achievements-display .achievement {
    height: 8rem;
    width: 8rem;
    padding: .5rem;
    /* border: 2px solid gold; */
}
.achievements .achievements-display .achievement div p {
    margin: 1rem;
}
.achievements .achievements-display .achievement h4 {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    max-height: 100%;
}


::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: orangered;
}
::-webkit-scrollbar-thumb {
    background: burlywood;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 165, 95);
}

@media only screen and (max-width: 1680px) {
    .wrapper {
        max-height: 100%;
    }

}
@media only screen and (max-width: 1671px) {
    .wrapper {
        max-height: 100%;
    }
    .achievements, .buy-container {
        height: 48%;
    }
}

@media only screen and (max-width: 1500px) {
    main {
        display: block;
    }
    body {
        overflow: scroll;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
    .achievements {
        /* display: none; */
        order: 1;
        width: 80%;
        margin-top: 1rem;
    }
    .buy-container {
        width: 80%;
    }

}

@media only screen and (max-width: 740px) {
    .upgrades-store {
        font-size: .75rem;
    }
    .upgrades-store .upgrades {
        display: flex;
        flex-wrap: wrap;
    }
    .upgrades-store .upgrade {
        width: 4rem;
        margin: 1rem;
    }
    .upgrades-store button {
        height: 3rem;
        width: 3rem;
        font-size: .5rem;
    }

    .store .store-item {
        width: 100%;
        font-size: .75rem;
        padding: .5rem;
    }
    .store .store-item h3 {
        font-size: .75rem;
    }
    .store .store-item img {
        height: 2rem
    }
    .store .store-item p {
        margin: .5rem;
    }
    .store .store-item button {
        font-size: .75rem;
    }

    .achievements {
        max-height: 50rem;
        overflow-y: scroll;
        margin-bottom: 3rem;
    }

    #main-carrot {
        height: 15rem;
    }

}